* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    height: 100px;

    .imgHeader {
        height: 90%;
        width: auto;
    }

    .buttonHeader {
        background-color: #F97415;
        color: #ffffff;
        height: 35px;
        width: 80px;
        border-radius: 0.6rem;
        border-color: none;
        font-weight: bold;
        cursor: pointer;
    }
}

.article1Main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 450px;

    .divArticle1Main {
        width: 35%;
        height: 50%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    #nomeDoPet {
        color: #F97415;
        font-family: "Inter", sans-serif;
        font-size: 3rem;
    }

    #descricaoDoPet {
        color: #000000;
        font-family: "Inter", sans-serif;
        font-size: 1.2rem;
    }

    #fotoDoPet {
        border-radius: 1rem;
        width: 45%;
        height: auto;
    }
}